@media (max-width: 1919px) {
    /* Ваши стили для адаптации под экраны шириной менее 1920px */
    /* Например: */
.header__logo{ 
left: 45px;
}
.header__nav-container{
    left: 998px;
}
.header__search-btn{
    left: 1790px;
}
.main-content-zone{
    width: 1755px;
}
.hero-section{
    
    margin-left: 50px;
}
    /* Добавьте дополнительные стили по мере необходимости */
}
@media (max-width: 576px) {
    .header{
        width: 100%;
        height: 69px;
    }
    .header__logo{
        display: flex;
        width: 150px;
        height: 48px;
        justify-content: center;
        align-items: center;
        left: 27%;
        top: 10px;
        }
    .header__search-btn{
        display: flex;
        left: 90%;
        top: 22px;
        justify-content: center;
        align-items: center;
        }
    .main-content-zone{
        width: 86.9%;
        height: auto;
    }
    }