@media (max-width: 1919px) {
    /* Ваши стили для адаптации под экраны шириной менее 1920px */
    /* Например: */
.header__logo{ 
left: 45px;
}
.header__nav-container{
    left: 998px;
}
.header__search-btn{
    left: 1790px;
}
.main-content-zone{
    width: 1755px;
}
.hero-section{
    
    margin-left: 50px;
}
    /* Добавьте дополнительные стили по мере необходимости */
}
@media (max-width: 768px) {
    .header{
        width: 100% !important;
        height: 69px;
    }
    .header__logo{
        display: flex;
        width: 150px;
        height: 40px;
        left: 35%;
        justify-content: center;
        align-items: center;
    }
    /* Ваши стили для адаптации под экраны шириной менее 320px */
}