@media (max-width: 1919px) {
    /* Ваши стили для адаптации под экраны шириной менее 1920px */
    /* Например: */
.header__logo{ 
left: 45px;
}
.header__nav-container{
    left: 998px;
}
.header__search-btn{
    left: 1790px;
}
.main-content-zone{
    width: 1755px;
}
.hero-section{
    
    margin-left: 50px;
}
    /* Добавьте дополнительные стили по мере необходимости */
}
@media (max-width: 320px) {
    .header{
        width: 320px;
        height: 69px;
    }
    .header__logo{
        display: flex;
        width: 110px;
        height: 35px;
        justify-content: center;
        align-items: center;
        left: 32.8%;
        top: 3.5%;
        }
        .header__search-btn{
            left: 85%;
            top: 5%;
        }
    }