



.header{
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 32px 32px;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.3);
}
.header__logo{
  display: flex;
  width: 225px;
  height: 70px;
  position: absolute;
  left: 75px;
  top: 14px;
}
.header__nav-container{
  display: flex;
  flex-direction: row;
  width: 708px;
  height: 22px;
  background-color: transparent;
  position: absolute;
  left: 1028px;
  top: 40px;
  bottom: 40px;
}
  .nav-container__nav-list{
    display: flex;
    width: inherit;
    height: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list__nav-link{
    position: relative;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    transition: color, border-bottom 0.3s ease;
  }

  .nav-list__nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FF9900;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  .header__search-btn{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 1820px;
    top: 38px;
  }
  .header__search-btn::before{
    content: "";
    display: flex;
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #1d1d1d;
    opacity: 0%;
    border-radius: 50%;
    transition: opacity 0.3s ease;
  }
.main-content-zone {
  display: block;
  max-width: 1770px;
  height: auto;
  margin-right: 75px;
  margin-left: 45px;
  background-color: #ffffff;
  line-height: normal;
}
.hero-section {
  display: block;
  max-width: 1770px;
  height: 620px;
  margin-right: 75px;
  margin-left: 75px;
  background-color: #ff8239;
  line-height: normal;
}
.hero-section__carousel {
  display: flex;
  max-width: 1770px;
  height: inherit;
}
.hero-section__content-box{
  display: flex;
  flex-direction: column;
  max-width: 840px;
  max-height: 250px;
  position: relative;
  bottom: 550px;
  left: 75px;
  color: #ffffff;
}
.content-box__title{
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: normal;
}
.content-box__title-description{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
}
.hero-section__btn{
  /*Layout */
  display: flex;
  width: 280px;
  height: 78px;
  padding: 18.571px 37.142px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #F90;
  position: relative;
  left: 75px;
  bottom: 408px;
  /*Typography */
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background 0.3s ease;
}
.about-us-section{
  display: block;
  width: 1770px;
  height: 943px;
  /*background-color: #FF9900;*/
  position: relative;
  top: 100px;
}
.about-us-section__title{
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us-section__main-text{
  /*Layout */
  display: flex;
  width: 1235px;
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.about-us-section__extended-content-grid-wrapper{
  display:grid;
  width: 1770px;
  height: 640px;
  position: relative;
  top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.extended-content-grid-wrapper__pic-overlay {
  position: relative;
  display: inline-block;
}
.pic__caption-box{
  /*Layout */
  display: flex;
  position: absolute;
  align-items: center;
  width: 768px;
  height: 96px;
  top: 476px;
  left: 50px;
  transition: all 0.3s ease;
}
.pic__caption-box::before{
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 868px;
  height: 196px;
  background-color: rgba(29, 29, 29, 0.5);
  opacity: 0%;
  transition: all 0.3s ease;
  pointer-events: none;
}
.pic__caption {
  /*Layout */
  display: flex;
  position: relative;
  z-index: 2;
  width: 454px;
  height: 96px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  /*Typography */
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.pic__caption-btn {
  /*Layout */
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  border: 3px solid #F90;
  position: relative;
  left: 155px;
  transition: background 0.3s ease,opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
/*Typography */
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.extended-content-grid-wrapper__adv-points-box {
  display: block;
  width: 870px;
  height: 622px;
}
.adv-points-box__adv-point-top {
  /*Layout */
  display: flex;
  width: 855px;
  height: 295px;
  border: #CACACA solid 1px;
}
.adv-point-top__pic {
  display: flex;
  position: relative;
  left: 60px;
  top: 65px;
  bottom: 65px;
  width: 190px;
  height: 165px;
}
.adv-point-top__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 65px;
  left: 110px;
  width: 452px;
  height: 165px;
}
.description__title {
  /*Layout */
  position: relative;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.description__text {
  /*Layout */
  display: block;
  width: 450px;
  height: 128px;
  width: inherit;
  margin-top: 8px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.adv-points-box__adv-point-bottom {
    /*Layout */
    display: flex;
    position: relative;
    top: 32px;
    width: 855px;
    height: 295px;
    border: #CACACA solid 1px;
}
.adv-point-bottom__pic {
  display: flex;
  position: relative;
  left: 60px;
  top: 65px;
  bottom: 65px;
  width: 190px;
  height: 165px;
}
.adv-point-bottom__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 65px;
  left: 110px;
  width: 452px;
  height: 165px;
}
.description__title-bottom {
  /*Layout */
  position: relative;
  left: -25px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.how-we-work-section{
  display: block;
  position: relative;
  top: 180px;
  width: 1770px;
  height: 640px;
}
.how-we-work-section__title{
  /*Layout */
  display: flex;
  position: relative;
  top: 0;
  left: -5px;
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.how-we-work-section__slide-choose-btns-wrapper{
  display: block;
  height: 22px;
  position: absolute;
  top: 100px;
  
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slide-choose-btns-wrapper__slide-choose-btn{
  margin-right: 85px;
  transition: color 0.3s ease;
}
.slide-choose-btns-wrapper__slide-choose-btn.active{
  color:#F90;
}
.how-we-work-section__manual-slider-box{
  /*Layout */
  display: flex;
  position: absolute;
  top: 155px;
  width: 1770px;
  height: 470px;
}
.manual-slider-box__slide-item{
  display: none;
  width: inherit;
  height: inherit;
}
.slide-item-1__title{
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}
.slide-item-1__text{
  /*Layout */
  width: 758px;
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.slide-item-1__buttons-wrapper{
  display: block;
  position: relative;
  top: 58px;
  width: 354px;
  height: 60px;
}
.buttons-wrapper__btn-more{
  /*Layout */
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  background-color: #F90;
  color: #FFF;
  position: relative;
  transition:background 0.3s ease;
  /*Typography */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.buttons-wrapper__btn-agr{
  /*Layout */
  display: inline-flex;
  position: relative;
  left: 16px;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  border: #333 solid 1px;
  transition: all 0.3s ease;
  /*Typography */
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.slide-item-1__pic{
  display: flex;
  position: relative;
  height: 100%;
  left: 880px;
  bottom: 412px;
}
.slide-item-2__pic{
  display: flex;
  position: relative;
  height: 100%;
  left: 880px;
  bottom: 315px;
}

.slide-item-3__pic{
  display: flex;
  width: 870px;
  position: relative;
  height: 470px;
  left: 900px;
  bottom: 315px;
}
.slide-item-4__pic{
  display: flex;
  width: 870px;
  position: relative;
  height: 470px;
  left: 900px;
  bottom: 220px;
}
.slide-item-3__title{
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
  /*Layout */
  position: relative;
  top: 90px;
}
.slide-item-3__text{
  /*Layout */
  position: relative;
  top: 90px;
  width: 758px;
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.slide-item-3__buttons-wrapper{
  display: block;
  position: relative;
  top: 116px;
  width: 354px;
  height: 60px;
}
.manual-slider-box__slide-item_manual-slider-box__slide-item-4{
  display: block;
  position: relative;
}
.faq-section{
  position: relative;
  width: 1770px;
  height: auto;
  top: 250px;
}
.faq-section__title{
  /*Layout */
  display: flex;
  position: relative;
  top: 0px;
  left: -5px;
  /*Typography */
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.faq-section__accordion-box{
  display: block;
  width: 1770px;
  position: relative;
  top: 32px;
}
.accordion-box__accordion-item{
  display: block;
  margin-bottom: 0;
  position: relative;
  width: 1770px;
  height: 112px;
  border-top: #CACACA solid 1px;
  transition: margin-bottom 0.5s ease;
}
.accordion-item__q{
  display: block;
  padding: 40px;
  padding-left: 0;
  cursor: pointer;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
  transition: all 0.5s ease;
}
.accordion-item__button{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 1720px;
  cursor: pointer;
  transform: rotateZ(0deg);
  transition: all 0.5s ease;
}
.accordion-item__a{
  /*Layout */
  display: block;
  max-height: 0;
  overflow: hidden;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  transition: max-height 0.5s ease;
}