/* Navigation Interactive */
.nav-list__nav-link:hover::before,
.nav-list__nav-link:active::before {
  transform: scaleX(1);
}
.nav-list__nav-link:focus-visible::before{
  outline: none;
  transform: scaleX(1);
}
.header__search-btn:hover::before{
  opacity: 10%;
}
.header__search-btn:focus-visible::before{
  opacity: 10%;
}
.header__search-btn:active::before{
  opacity: 20%;
}

/* Hero Interactive */
.hero-section__btn:hover{
  background: #ffb84d
}
.hero-section__btn:focus-visible{
  background: #ffb84d;
}
.hero-section__btn:active{
  background: #e1670e;
}

/* About Us Interactive */
.extended-content-grid-wrapper__pic-overlay:hover .pic__caption-box::before {
  opacity: 100%;
}
.extended-content-grid-wrapper__pic-overlay:hover .pic__caption {
  opacity: 1;
  transform: translateY(0);
}
.extended-content-grid-wrapper__pic-overlay:hover .pic__caption-btn {
  opacity: 1;
  transform: translateY(0);
}
.pic__caption-btn:hover{
  opacity: 100%;
  background: #F90
}
.pic__caption-btn:focus-visible{
  background: #F90;
}
.pic__caption-btn:active{
  background: rgb(241, 146, 2);
}

